<% @inventory.each do |item| %>

    =========================== 
            
    <p>Item Name     : @item.item_name</p>
    <p>Item SKU      : @item.sku</p>
    <p>Item Quantity : @item.quantity_in_stock</p>
    <p>Item Price    : @item.price $</p>

<% end %>